%section.exhibit_btn
  = link_to root_path, class: "exhibit_link" do
    %span.exhibit_link__text
      出品する
    = image_tag "/material/icon/icon_camera.png", class: "exhibit_link__image", alt: "camera"