.form_footer
  .form_footer__link
    %br  プライバシーポリシー
    %br  FURIMA利用規約
    %br  特定商取引に関する表記
  .form_footer__logo
    = image_tag "/material/logo/logo-white.png",alt:"logoimage", class:"logo"
  .form_footer__copy
    &copy;FURIMA
