$border_top: 2px solid #f5f5f5b9;
.header{
  height: 80px;
}
.order_create_main{
  padding-bottom: 30px;
  .order_finish_info{
    background-color: #fff;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    &__message{
      width: 100%;
      text-align: center;
      justify-content: center;
      padding: 10px 0;
      &--main{
        font-size: 24px;
        font-weight: bold;
      }
      &--sub{}
    }
    &__item_info{
      &__image_and_name{
        width: 500px;
        margin: 0 auto;
        &__item_image{
          max-width: 300%;
          width: 100%;
          min-width: 80px;
          margin: 0 auto;
          padding: 30px 0 20px;
          & img{
            width: 100%;
            height: auto;
          }
        }
        &__item_name{
          width: 80%;
          font-size: 20px;
          font-weight: bold;
          margin: 0 auto;
          padding: 10px 0 30px;
          line-height: 1.5;
          text-align: center;
        }
      }
    }
    &__pay_info{
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      text-align: right;
      font-size: 16px;
      & :last-child{
        margin-bottom: 30px;
      }
      &__item_price{
        @include orders_create_info_table;
      }
      &__pay_amount{
        @include orders_create_info_table;
      }
      &__payment_method{
        @include orders_create_info_table;
        &--head{
          display: flex;
          align-items: center;
        }
      }
      &__order_date{
        @include orders_create_info_table;
      }
    }
  }
  .back_items_top_link{
    width: 100%;
    max-width: 300px;
    line-height: 48px;
    background-color: #EA352D;
    border: none;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    &--link{
      text-align: center;
      color: #fff;
    }
  }
}

.footer{
  height: 60px;
}