.header{
  height: 56px;
}

.order_main{
  background-color: #fff;
  .header{
    padding: 16px;
    line-height: 1.5;
    font-size: 18px;
    text-align: center;
  }
  .item_info{
    padding: 16px;
    border-top: 1px solid #f5f5f5;
    min-width: 343px;
    margin: 0 auto;
    &__item_image{
      
    }
    &__item_name_and_price{
      &--item_name{}
      &--item_price{
        .price_zone{}
        .tax_include{}
        .postage_info{}
      }
    }
  }
  buy_info{
    .payment_zone{
      &__payment_amount{
        &--head{}
        &--data{}
      }
      &__credit_card_select{
        &--head{}
        &--btn_to_select{
          .create_credit_card_link{}
          .select_credit_card_link{}
        }
      }
      &__shopping_address{
        &--head{}
        &--btn_to_select{
          .create_shopping_address_link{}
          .select_shopping_address_link{}
        }
      }
      &__submit_btn{}
    }
  }
}

.footer{
  height: 250px;
}