$font_weight: 600;
$border_top: 1px solid #f5f5f5;
$link_text_color: #3CCACE;
$form_header_height: 56px;
$form_footer_height: 10px;


body{
  .orders_new_header{
    height: $form_header_height;
    max-width: 1040px;
  }
  .main{
    background: #f5f5f5;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 14px;
    padding-top: 20px;
    min-height: calc(100vh - #{$form_header_height + $form_footer_height} - 20px);
    height: 100%;
    .order_main{
      background-color: #ffffff;
      width: 700px;
      margin: 0 auto;
      .header{
        padding: 16px;
        line-height: 1.5;
        font-size: 18px;
        text-align: center;
        font-weight: bolder;
        border-top: $border_top;
      }
      .item_info{
        padding: 16px;
        border-top: 1px solid #f5f5f5;
        margin: 0 auto;
        display: flex;
        &__inner{
          display: flex;
          max-width: 343px;
          width: 100%;
          margin: 0 auto;
          &__item_image{
            max-width: 100px;
            min-width: 70px;
            width: 100px;
            min-width: 80px;
            justify-content: center;
            align-items: center;
            & img{
              width: 80px;
              height: auto;
            }
          }
          &__item_name_and_price{
            margin-left: 16px;
            width: 100%;
            line-height: 1.5;
            &--item_name{
              font-size: 14px;
              margin: 0;
              padding: 0 0 8px;
              line-height: 1.5;
              text-align: left;
            }
            &--item_price{
              text-align: left;
              font-size: 15px;
              display: flex;
              width: 100%;
    
              .price_zone{
                font-weight: $font_weight;
                margin-right: 5px;
              }
              .tax_include_and_postage_info{
                display: flex;
                &__tax_include{
                  font-size: 13px;
                  font-weight: $font_weight;
                  margin-right: 15px;
                  display: flex;
                  align-items: center;
    
                }
                &__postage_info{
                  font-weight: $font_weight;
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
      .buy_info{
        padding-bottom: 48px;
        text-align: right;
        border-top: $border_top;
        .payment_zone{
          max-width: 343px;
          margin: 0 auto;
          &__payment_amount{
            border-top: $border_top;
            display: flex;
            font-size: 18px;
            font-weight: bold;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            &--head{
              padding-bottom: 10px;
            }
            &--data{}
          }
          &__credit_card_select{
            border-top: $border_top;
            padding: 20px 0;
            @include orders_new_table_setting;

            //クレジットカード未選択の場合
            &--btn_to_select{
              .create_credit_card_link{
                color: $link_text_color;
              }
              .select_credit_card_link{
                color: $link_text_color;
              }
            }
            //クレジットカード選択済みの場合
            &__credit_card_info{
              line-height: 1.5;
            }
          }

          &__shopping_address{
            border-top: $border_top;
            border-bottom: $border_top;
            padding: 20px 0;
            @include orders_new_table_setting;
            &__shopping_address_info{
              line-height: 1.5;
            }
          }
          .order_submit_btn{
            height: 48px;
            width: 100%;
            line-height: 48px;
            text-align: center;
            margin-top: 32px;
            margin-bottom: 40px;
            color: white;
            background-color: #EA352D;
            border: none;
          }
        }
      }
    }  
  }

  .orders_new_footer{
    height: $form_footer_height;
  }
}