body{
  max-width: 1440px;
  margin: 5em auto;
}
header{
  text-align: center;
  size: 2em;
}
header h1{
  font-size: 2.5em;
}
section{
  margin: 2em 5em;
}
.section_title{
  line-height: 3em;
  padding: 0 1em;
  background-color: #0f7ea0;
  color: #FFF;
}
.section_body{
  margin: 2em;
}
.section_sub_list{
  margin: 1em 0;
}
.app_info_list{
  margin-bottom: 3em;
}
.app_info_detail{
  background-color: antiquewhite;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
}
.caution{
  list-style: none;
  margin-top: 2em;
}
.back_color{
  background-color: antiquewhite;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 1em;
  list-style: inside;
}
.image_zone{
  width: 100%;
  text-align: center;
  overflow: scroll;
  max-height: 50vh;
}
.image{
}