.header_category_list{
  position: relative;
  background-color: #fff;
  .parent_category_list{
    display: none;
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 1;
    width: 200px;
    height: 550px;
    background-color: #fff;
    line-height: 3;
    border: rgb(226, 224, 255) outset 1px;
    border-collapse: collapse;
    .parent_category_name{
      //position: relative;
      line-height: 3;
      & a{
        padding-left: 5px;
        color: rgb(0, 0, 0);
        /*
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        */
      }
      .child_category_list{
        position: absolute;
        left: 199px;
        top: -1px;
        width: 220px;
        z-index: 1;
        display: none;
        height: 550px;
        background-color: #fff;
        line-height: 2;
        border: #76bbdb outset 1px;
        .child_category_name{
          .grandchild_category_list{
            position: absolute;
            left: 219px;
            top: -1px;
            width: 230px;
            z-index: 1;
            display: none;
            height: 550px;
            background-color: #fff;
            line-height: 2;
            border: rgb(226, 224, 255) outset 1px;
            border-collapse: collapse;
            overflow-y: scroll;
            .grandchild_category_name{
            }
          }
        }
      }
    }
  }
}