.header_category_list{
  position: relative;
  background-color: #fff;
  .parent_category_list{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 200px;
    height: 550px;
    background-color: #fff;
    line-height: 2;
    border-right: rgb(251, 205, 205),solid;
    .parent_category_name{
      border-collapse: collapse;
      border-top: rgb(251, 205, 205);
      .child_category_list{
        position: absolute;
        left: 200px;
        top: 0px;
        width: 200px;
        z-index: 1;
        display: none;
        height: 550px;
        background-color: #fff;
        line-height: 2;
        border-right: rgb(251, 205, 205),solid;
        .child_category_name{
          border-top: rgb(251, 205, 205);
          .grandchild_category_list{
            position: absolute;
            left: 200px;
            top: 0px;
            width: 200px;
            z-index: 1;
            display: none;
            min-height: 550px;
            background-color: #fff;
            line-height: 2;
          }
        }
      }
    }
  }
}
.category_list_standbyzone{
  display: none;
  .parent_category_list{
    line-height: 1.5;
    top: 32px;
    width: 200px;
    z-index: 1;
    .parent_category_name{
      .child_list{
        line-height: 1;
        width: 200px;
        .child_category_list{
          .grandchild_category_name{
            width: 400px;
            line-height: 1;
          }
        }
      }
    }
  }
}