.user_content_area
{
    width: $mypage_content_width;
    margin: $mypage_margin_top 0 $mypage_margin_bottom;

}

.mypage_profile_area
{
    height: $mypage_user_profile_height;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("paper_00108.jpg");
}

.mypage_user_profile
{
    text-align: center;
    font-size: 16px;
    &__image
    {
        border-radius: 50%;
        height: $mypage_user_profile_image_length;
        width: $mypage_user_profile_image_length;
    }
    &__name
    {
        margin: 0;
        margin-top: 10px;
        font-size: 1.2em;
    }
    &__small_content
    {
        margin-left: 10px;
        font-size: 0.8em;
    }
}

.mypage_tabs
{
    list-style-type: none;
    display: flex;
    width: $mypage_tab_width * 2;
    padding: 0;
    &__tab
    {
        &__button
        {
            display: block;
            height: $mypage_tab_height;
            width: $mypage_tab_width;
            border: none;
            border-top: solid 2px #3CCACC;
            font-size: 16px;
            font-weight: bold;
            background-color: white;
            &--inactive
            {
                border-top: none;
                background-color: #EEEEEE;                
            }
            &:focus
            {
                outline: none;
            }
        }
    }
}

.mypage_users_items
{
    height: $mypage_list_height * 6;
    width: $mypage_tab_width * 2;
    background-color: #EEEEEE;
    &--inactive
    {
        display: none;
    }
}

.mypage_item
{
    width: $mypage_tab_width * 2;
    display: flex;
    padding: 5px;
    background-color: white;
    border-top: solid 1px #EEEEEE;
    &__photo
    {
        height: $mypage_list_height;
        width: $mypage_list_height;
        margin-right: 5px;
    }
    &__info
    {
        height: $mypage_list_height;
        width: calc(100% - #{$mypage_list_height});
        padding-left: 10px;
    }
    &__name
    {
        margin: 2px 0;
        display: block;
        width: 100%;
    }

    &__button
    {
        &--favorite
        {
            &--clicked
            {
                color: red;
            }
        }

        &--comment
        {
            margin-left: 5px;
            &--commented
            {
                color: aqua;
            }
        }
    }

}

.mypage_icon
{
    &--item
    {
        display: block;
        line-height: $mypage_list_height;
    }
}


