$mypage_margin_top: 40px;
$mypage_margin_bottom: $mypage_margin_top;
$mypage_navi_width: 250px;
$mypage_user_profile_height: 200px;
$mypage_content_width: 700px;
$mypage_user_profile_image_length: 60px;
$mypage_list_height: 50px;
$mypage_tab_height: 74px;
$mypage_tab_width: 350px;

.content_area--mypage
{
    background-color: #F5F5F5;
    display: flex;
}


.mypage_link
{    
    &:hover
    {
        background-color: #FAFAFA;
        & .mypage_icon--right_arrow
        {
            color: #333333;
        }
    }
}

@import "mypage/navi";
@import "mypage/content";