.mypage_navigation
{
    margin: 0 40px 0 150px;
    position: relative;
    &__lists
    {
        position: relative;
        margin-top: $mypage_margin_top;
        padding: 0;
        width: $mypage_navi_width;
        list-style-type: none;
        &--option
        {
            position: absolute;
            bottom: $mypage_margin_bottom;
            &::before
            {
                content: "オプション";
                display: block;
                position: absolute;
                left: 10px;
                top: -30px;
                font-weight: bold;
            }
        }
    }
    &__list
    {
        display: block;
        margin: 0;
        background-color: white;
        &:not(:first-child)
        {
            border-top: solid 1px #CCCCCC;
        }//666
        &--current
        {
            background-color: #EEEEEE;
            font-weight: bold;
        }///666
        &__link
        {
            height: $mypage_list_height;
            padding: 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            color: #333333;
        }
    }
}

.mypage_icon
{
    color: #CCCCCC;
}
