.main
  .order_finish_info
    .order_finish_info__message
      .order_finish_info__message--main
        ご購入ありがとうございます
      .order_finish_info__message--sub
        到着までしばらくお待ちください。
    .order_finish_info__item_info
      .order_finish_info__item_info__image_and_name
        .order_finish_info__item_info__image_and_name__item_image
          = image_tag "/material/pict/猫画像１.jpeg"
        .order_finish_info__item_info__image_and_name__item_name
          ここに商品名が入ります
      .order_finish_info__item_info__item_price
        .price_zone
          ¥#{@price}
        .tax_include_and_postage_info
          .tax_include_and_postage_info__tax_include
            (税込)
          .tax_include_and_postage_info__postage_info
            送料込み
    .order_finish_info__pay_info
      .order_finish_info__pay_info__pay_amount
        .order_finish_info__pay_info__pay_amount--head
          支払い金額
        .order_finish_info__pay_info__pay_amount--data
          1,000
      .order_finish_info__pay_info__payment_method
        .order_finish_info__pay_info__payment_method--head
          支払い方法
        %p.order_finish_info__pay_info__payment_method--data
          クレジットカード
          %br
          ********0000

      .order_finish_info__pay_info__order_date
        .order_finish_info__pay_info__order_date--head
          購入日時
        .order_finish_info__pay_info__order_date--data
          @order.created_at
      
  .back_items_top_link
    = link_to root_path, class: "back_items_top_link--link" do
      トップ画面に戻る