/ヘッダー部分/
.header
.order_main
  %h2.header
    購入内容の確認
  .item_info
    .item_info__item_image
    .item_info__item_name_and_price
      .item_info__item_name_and_price--item_name
      .item_info__item_name_and_price--item_price
        .price_zone
        .tax_include
        .postage_info
  .payment_zone
    %h2.payment_amount_info
      .payment_amount_info__pay_amount_label
        支払い金額
      .payment_amount_info__pay_amount_data
.footer