.categories_index_sidebar{
  width: 260px;
  height: 100%;
  position: sticky;
  top: 50px;
  margin: 20px;
  &__inner{
    &__title_zone{
      font-weight: bold;
      padding: 5px;
      font-size: 21px;
      text-align: center;
    }
    &__parent_index_zone{
      .categories_parentname_index{
        &__list{
          display: block;
          font-size: 16px;
          line-height: 2.5;
          margin: 5px;
          background-color: #fff;
          border-radius: 5px;
          padding: 0 10px;
          color: black;
          &:hover{
            background-color: #cceeff;
          }
        }
      }
    }
  }
}