$link_text_color: #3CCACE;

.bread_crumb_navigation_bar{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  &__link_list{
    padding: 17px 0 16px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    & li{
      padding: 0 10px 0 0;
      float: left;
      display: flex;
      & i{
        padding-right: 10px;
        -webkit-font-smoothing: antialiased
      }
      & a{
        color: black;
      }
      &:last-child{
        font-weight: bold;
      }
    }
    &:after{
      content: "";
      display: block;
      clear: both;
    }
  }
}

.main{
  background-color: #f8f8f8;
  &__body{
    padding: 40px;
    margin: 0 auto;
    &__content{
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      .product_zone{
        &__item{
          background-color: #fff;
          padding: 24px 40px 40px;
          &--head{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__image_zone{
            margin: 16px auto;
            display: flex;
            flex-direction: column;
            max-width: 560px;
            align-items: center;
            & img{
              object-fit: cover;
              width: 100%;
            }
            .dynamic_image_zone{
              width: 100%;
              &--selected_image{
                height: 346px;
                max-width: 100%;
              }
            }
            .static_images{
              display: flex;
              justify-content: left;
              margin-top: 10px;
              width: 100%;
              overflow: scroll;
              &__an_item_image_zone{
                width: 25%;
                min-width: 25%;
                height: 87px;
                margin: 0 10px 0 0;
                .selected_image{
                  opacity: 0.4;
                }
                & img{
                  height: 100%;
                  width: auto;
                  max-width: 100%;
                }
              }
            }
          }

          &__price_zone{
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            .main_price_zone{
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
              display: flex;
              justify-content: center;
            }
            .sub_price_zone{
              display: flex;
              justify-content: center;
            }
          }

          &__order_btn{
            font-size: 24px;
            line-height: 60px;
            margin-top: 16px;
            background-color: #ea352d;
            color: #fff;
            text-align: center;
            font-weight: 600;
            display: block;
            border-radius: 40px;
            &:hover{
              background-color: #e20e03;
            }
            &:active{
              background-color: #dd6552;
            }
            &--delete
            {
              background-color: #808080;
              &:hover
              {
                background-color: #666666;
              }
              &:active
              {
                background-color: #A0A0A0;
              }
            }
          }

          &__detail{
            margin-top: 40px;
            &--discription{
              line-height: 1.5;
              font-size: 18px;
              margin-bottom: 30px;
              word-break: break-word;
            }
            .table{
              margin-bottom: 20px;
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              & tbody{
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                & tr{
                  display: table-row;
                  vertical-align: inherit;
                  border-color: inherit;
                  & th{
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    text-align: center;
                    @include table_setting(20%);
                  }
                  & td{
                    padding: 15px 15px;
                    @include table_setting(61%);
                    & a{
                      color: $link_text_color;
                    }
                  }
                }
              }
            }
            .btns{
              display: flex;
              justify-content: space-between;
              &__favorite{
                margin: 10px 0 0;
                display: flex;
                &__link{
                  margin-right: auto;
                  padding: 6px 10px;
                  border-radius: 40px;
                  color: $link_text_color;
                  border: 1px solid #ffb340;
                  display: flex;
                  align-items: center;
                  &--favorited
                  {
                    color: white;
                    background-color: $link_text_color;
                  }
                  &--count_num{
                    margin-left: 5px;
                  }
                }
              }
              &__fraud_report{
                margin: 10px 0 0;
                display: flex;
                font-size: 14px;
                &__link{
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  @include border_setting(#333)
                }
              }
            }
          }
        }
        &__comment{
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          .comment_form{
            &__input_area{
              width: 100%;
              min-width: 100%;
              max-width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            &__notice_area{
              padding: 8px;
              font-size: 14px;
              margin: 10px 0 18px;
              text-align: left;
              background-color: #f8f8f8;
            }
            &__submit_form{
              display: none;
            }
            &__submit_label{
              font-size: 18px;
              line-height: 48px;
              background-color: $link_text_color;
              @include border_setting($link_text_color);
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              display: block;
              margin-top: 18px;
              margin: auto;
              cursor: pointer;
              &:disabled
              {
                background-color: #808080;
                border-color: #808080;
                cursor: not-allowed;
              }
            }
          }
        }
      }

      .item_link_prev_next{
        display: flex;
        justify-content: space-between;
        &__btn{
          &__link{
            color: $link_text_color;
          }
        }
      }
      
      .related_items{
        &__show_more_link{
          display: block;
          margin: 24px 0 8px;
          color: $link_text_color;
          font-weight: bold;
          font-size: 22px;
        }
      }
    }
  }
}

