%section.header
  .inner
    .upper
      = link_to root_path, class: "logo"
      .search_field
        %input.search_field__input_area
        .search_field__submit_btn
    .lower
      .left_btns
        .left_btns__category
        .left_btns__brand
      .right_btns
        .right_btns__login
        .right_btns__signup

%section.main
  %section.title_image
    .title_image__content
      .title_image__content__title
      .title_image__content__sentence
      .title_image__content__btn
        .title_image__content__btn--app_store
        .title_image__content__btn--google_play
    .title_image__picture

%section.introduction
  .introduction__title
  .introduction__lists
    .left_item
      .left_item__image
      .left_item__text
        .left_item__text--subtitle
        .left_item__text--sentense
    .middle_item
      .middle_item__image
      .middle_item__text
        .middle_item__text--subtitle
        .middle_item__text--sentense
    .right_item
      .right_item__image
      .right_item__text
        .right_item__text--subtitle
        .right_item__text--sentense

%section.middile_image
  .middile_image__content
    .middile_image__content__title
    .middile_image__content__sentence
    .middile_image__content__btn
      .middile_image__content__btn--app_store
      .middile_image__content__btn--google_play

%section.feature
  .feature__title
  .feature__lists
    .left_item
      .left_items__image
      .left_items__text
        .left_items__text--subtitle
        .left_items__text--sentence
    .middle_item
      .middle_items__image
      .middle_items__text
        .middle_items__text--subtitle
        .middle_items__text--sentence
    .right_item
      .right_items__image
      .right_items__text
        .right_items__text--subtitle
        .right_items__text--sentence

%section.pickup_products
  .pickup_products__category
    %h2.title
    .products
      %a.products__header
      .products__list
        .product
          .product--image
          .product__body
            .name
            .detail
              .detail__main
                .detail__main--price
                .detail__main--favorite
              .detail__sub
        .product
          .product--image
          .product__body
            .name
            .detail
              .detail__main
                .detail__main--price
                .detail__main--favorite
              .detail__sub
        .product
          .product--image
          .product__body
            .name
            .detail
              .detail__main
                .detail__main--price
                .detail__main--favorite
              .detail__sub
  .pickup_products__brand
    %h2.title
    .products
      %a.products__header
      .products__list
        .product
          .product--image
          .product__body
            .name
            .detail
              .detail__main
                .detail__main--price
                .detail__main--favorite
              .detail__sub
        .product
          .product--image
          .product__body
            .name
            .detail
              .detail__main
                .detail__main--price
                .detail__main--favorite
              .detail__sub
        .product
          .product--image
          .product__body
            .name
            .detail
              .detail__main
                .detail__main--price
                .detail__main--favorite
              .detail__sub

%section.bottom_image
  .bottom_image__content
    .bottom_image__content__title
    .bottom_image__content__sentence
    .bottom_image__btn
      .bottom_image__btn--app-store
      .bottom_image__btn--google-play
%section.footer
  .footer__main
    .left_items
      .left_items__title
      %ul.left_items__content
        %li
        %li
        %li
        %li
    .middle_items
      .middle_items__title
      %ul.left_items__content
        %li
        %li
    .right_items
      .right_items__title
      %ul.right_items__content
        %li
        %li
        %li
  .footer__logo
    .footer__logo--image
    .footer__logo--text