= render "share/header"
%main.content_area--mypage
    =render partial: "/mypage/navi"
    .user_content_area
        =render partial: "/mypage/content_header", locals: {user: @user}
        =render partial: "/mypage/contents/line_items", locals: {user: @user, items: @items, title: "販売中の商品"}
= render "share/footer"