-# = render "share/_header"
%nav.bread_crumb_navigation
.main
  .main__body
    .main__body__content
      .product_zone
        .product_zone__item
          
        .product_zone__comment
      .side_item_links
      .same_brand_link
-# = render "share/_app_banner"
-# = render "share/_footer"