-# = render "share/_header"
%nav.bread_crumb_navigation
.main
  .main__body
    .main__body__content
      .product_zone
        .product_zone__item
          .product_zone__item--head
          .product_zone__item__image_zone
          .product_zone__item--price
          .product_zone__item__detail
            .product_zone__item__detail--name
            .product_zone__item__deatail--discription
            %table.tabel
              %tbody.table__body
                %tr.table__body__seller.tabel_row
                  %th.table__body__seller--head.tabel_row--head
                  %td.table__body__seller--data.table_row--data
              %tbody.table__body
                %tr.table__body__category.tabel_row
                  %th.table__body__category--head.tabel_row--head
                  %td.table__body__category--data
              %tbody.table__body
                %tr.table__body__brand.tabel_row
                  %th.table__body__brand--head.tabel_row--head
                  %td.table__body__brand--data
              %tbody.table__body
                %tr.table__body__size.tabel_row
                  %th.table__body__size--head.tabel_row--head
                  %td.table__body__size--data
              %tbody.table__body
                %tr.table__body__condition.tabel_row
                  %th.table__body__condition--head.tabel_row--head
                  %td.table__body__condition--data
              %tbody.table__body
                %tr.table__body__delivary_fee.tabel_row
                  %th.table__body__delivary_fee--head.tabel_row--head
                  %td.table__body__delivary_fee--data
              %tbody.table__body
                %tr.table__body__area.tabel_row
                  %th.table__body__area--head.tabel_row--head
                  %td.table__body__area--data
              %tbody.table__body
                %tr.table__body__preparation_day.tabel_row
                  %th.table__body__preparation_day--head.tabel_row--head
                  %td.table__body__preparation_day--data
        .product_zone__comment
      .side_item_links
      .same_brand_link
-# = render "share/_app_banner"
-# = render "share/_footer"
