$content_area_form_backcolor: #F5F5F5;
$form_input_paddingLR: 16px;

.content_area--form,
.form_area,
.form_area__title,
.form_fields,
.form_field,
.form_field__label,
.form_field__label--essential,
.form_field__input,
.form_button
{
    box-sizing: content-box;
}

.content_area--form
{
    background-color: $content_area_form_backcolor;
    margin: $form_header_height auto $form_footer_height;//このマージンは仮。実際は0 auto
}

.form_area
{
    background-color: #FFFFFF;
    width: 700px;
    box-sizing: content-box;
    margin: 0 auto;
    &__title
    {
        font-size: 137.5%;
        font-weight: bold;
        height: 33px;
        line-height: 33px;
        margin: 0;
        padding: 32px;
        border-bottom: 1px solid $content_area_form_backcolor;
        text-align: center;
    }
}

.form_fields
{
    width: 350px;
    margin: 0 auto;
    padding: 40px;

}

.form_field
{
    width: 350px;
    &:not(:first-of-type)
    {
        margin-top: 32px;
    }

    &__label
    {
        font-size: 100%;
        font-weight: bold;
        &--essential
        {
            &::after
            {
                content: "必須";
                display: inline;
                color: white;
                background-color: red;
                box-sizing: content-box;
                margin: 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                font-size: 75%;
            }
        }
    }

    &__input
    {
        height: 28px;
        width: calc(100% - #{$form_input_paddingLR} * 2);
        margin: 8px 0 0;
        padding: 10px $form_input_paddingLR 8px;
        border-radius: 4px;
        border: 1px solid #CCC;
    }
}

.form_button
{
    height: 48px;
    width: 100%;
    line-height: 48px;
    text-align: center;
    margin-top: 32px;
    color: white;
    background-color: #EA352D;
    border: none;
}