.header{
  padding: 0 60px;
  &__inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__upper{
      display: flex;
      align-items: center;
      position: relative;
      .header_zone_logo{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        & img{
          width: 140px;
          vertical-align: bottom;
        }
      }
      .header_zone_search{
        width: 100%;
        margin-left: auto; 
        .header_zone_search_field{
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          &__input_area{
          height: 36px;
          width: calc(100% - 26px);
          padding: 0 0 0 5px;
          }
          &__submit{
            width: 36px;
            height: 36px;
            background-color: #3ccacc;
            border: 0;
            cursor: pointer;
            padding: 8px;
            &--btn{
              display: none;
            }
            &--icon{
              & img{
              width: 100%;
              vertical-align: bottom;
              }
            }
          }
        }
      }
      
    }
    &__lower{
      display: flex;
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 32px;
      justify-content: space-between;
      .header_zone_left_btns{
        display: flex;
        &__category{
          .header_categories_link{
            @include lower_left;
          }
        }
        &__brand{
          @include lower_left;
          padding-left: 16px;
        }
      }
      .header_zone_right_btns{
        display: flex;
        padding: 0;
        margin: 0;
        &__btn
        {
          @include lower_right;
        }
      }
    }
  }
}
