
/* header.scss */
@mixin lower_left {
  padding: 0;
  color: #333;
  line-height: 32px;
  padding-right: 30px;
}
@mixin lower_right {
  padding: 0 0 0 16px;
  line-height: 32px;
  margin: 0;
  .header_right_btn{
    color: #333;
  }
}

/* top画面のimg内の文字 */
@mixin text_shadow {
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

/* app-storeとplay-storeのアイコン */
@mixin mobile_app_links {
  .mobile_app_btns{
    display: flex;
    &--link{
      margin-right: 10px;
      .application_icon{
        width: 180px;
      }
    }
  }
}

/* gackground-imageの設定 */
@mixin background_image ($url) {
  background-image: url($url);
  background-size: cover;
}

/* items/showのtable設定*/
@mixin table_setting ($width) {
  width: $width;
  font-size: 14px;
  border: 1px solid #deddde;
}

/*borderの設定*/
@mixin border_setting ($color) {
  border: 1px solid $color;
}

/*商品出品　タイトル装飾*/
@mixin title_decoration {
  margin-bottom: 24px;
  color: rgb(136, 136, 136);
  font-weight: 600;
  line-height: 1.4em;
}
/*商品購入ページのクレジットカードと配送先表示の設定*/
@mixin orders_new_table_setting{
  &__head{
    padding-bottom: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    &--title{
      font-weight: bold;
    }
    &--change_link{
      color: $link_text_color;
    }
  }
}
//商品購入完了画面の支払い欄
@mixin orders_create_info_table{
  display: flex;
  width: 100%;
  border-top: $border_top;
  justify-content: space-between;
  line-height: 1.5;
  padding: 10px 20px;
  &--head{
    vertical-align: middle;
  }
  &--data{
  }
}


/*
高さを入れるとその半分の高さで売り切れマークを出す
width: 220px;
height: 150px;
での値がデフォルトになっている
*/
@mixin sold_item($height: 150px)
{
  position: relative;
  &--sold
  {
    &::before
    {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      border-top: red ($height / 4) solid;
      border-left: red ($height / 4) solid;
      border-right: transparent ($height / 4) solid;
      border-bottom: transparent ($height / 4) solid;
    }
    &::after
    {
      content: "SOLD";
      display: block;
      position: absolute;
      text-align: center;
      margin-top: $height * (1/15);
      margin-left: $height * (1/15);
      height: $height / 2;
      width: $height / 2;
      top: 0;
      left: 0;
      z-index: 5;
      transform: rotate(-45deg);
      color: white;
      font-size: $height * (2/15);
    }
  }
}