.form_header {
  background-color: #f5f5f5;
  &__logo {
    height: 50px;
    text-align: center;
    padding: 15px 0 0;
    .logoimage{
      height: 40px;
      width: 140px;
      display: inline-block;
      margin: 11px 0 12px;
    }  
  }
}

.main{
  background-color: #f5f5f5;
  padding: 40px;
  margin: 0 auto;
  max-width: 700px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  .marker_red {
    background: linear-gradient(transparent 0%, red 0%);
    color: white;
  }
    .main__showmain{
      background-color: #fff;
      padding: 24px 40px 40px;
   

      &__main-image{
        padding: 16px;
        border-bottom: 1px solid #eee;
        .main-text{
          margin-top: 16px;
        }
        .main-form{
          margin-top: 16px;   
        }
      }

      &__main-item{
        padding: 16px;
        
        &__upper{
          margin: 0;
          .item-name{
            line-height: 14px;
          }
          .itemname-form{
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: inherit;
            font-size: inherit;
            height: 48px;
            margin-top: 16px;
            outline: none;
            padding: 0 16px;
            width: inherit;
          }
        }
        &__bottom{
          .item-discription{
            margin-top: 32px;
          }
          .discription-form{
            margin-top: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            color: #222;
            outline: none;
            padding: 13px 16px;
            resize: vertical;
            vertical-align: middle; 
          }
        }
      }




      &__detail{
        padding: 16px;
        border-top: 1px solid #eee;
        &__detail-top{ 
          color: rgb(136, 136, 136);
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
          margin-bottom: 24px;
        }  
        &__category_id{
          margin-top: 16px;
        }
        &__size{
          margin-top: 32px;
        }
        &__bland_id{
          margin-top: 32px;
          .marker_gray {
            background: linear-gradient(transparent 0%, gray 0%);
            color: white;
          }
          &__input-area{
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-family: inherit;
            font-size: inherit;
            height: 48px;
            margin-top: 16px;
            outline: none;
            padding: 0 16px;
            }
        }
        &__condition{
          margin-top: 32px;
        }
      }
      

      &__delivary{
        padding: 16px;
        border-top: 1px solid #eee;
        &__delivary-top{
          color: rgb(136, 136, 136);
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
          margin-bottom: 24px;
        }
        &__delivary_fee{
          margin-top: 32px;
        }
        &__area{
          margin-top: 32px;
        }
        &__preparation_day{
          margin-top: 32px;
        }
      }


      &__price{
        padding: 16px;
        border-top: 1px solid #eee;
        &__price-top{
          color: rgb(136, 136, 136);
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
          margin-bottom: 24px;
        }
      }
    }
}

.form_footer{
  background-color: #f5f5f5;
  margin-top: auto;
  text-align: center;
  padding: 40px 0px 11px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  &__link{
    font-size: 12px;
    margin: -16px 0px 40px -16px;
  }
  &__logo{ 
    .logoimagew{
      height: 40px;
      width: 140px;
      margin-bottom: 8px;
    }
  }
  &__copy{
    font-size: 12px;
  }
}