.sell-page{
  min-height: 100%;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  font-size: 14px;

  .form_header {
    display: flex;
    height: 56px;
    justify-content: center;
    .logo{
      height: 50px;
      padding: 15px 0 0;
      .image_tag{
        height: 40px;
        width: 140px;
        margin-bottom: 8px;
      }  
    }
  }

  .main{
    margin: 0 auto;
    max-width: 700px;
    .marker_red {
      background: linear-gradient(transparent 0%, red 0%);
      color: white;
      font-size:12px;
      border-radius: 2px;
      line-height: 1.4em;
    }
      .main__showmain{
        background-color: #fff;
        padding: 24px 40px 40px;  
        &__main-image{
          padding: 16px;
          border-bottom: 1px solid #eee;
          &__main-text{
            margin-top: 16px;
          }
          &__main-form{
            height: 150px;
            margin: -8px -4px 0px;
            margin-top: 8px;
            padding: 0px 4px;
            &__upload{
              align-content: center;
              text-align: center;
              background-color: rgb(245, 245, 245);
              cursor: pointer;
              display: flex;
              height: 100%;
              flex-wrap: wrap;
              justify-content: center;
              border-width: 1px;
              border-style: dashed;
              border-color: rgb(204, 204, 204);
            }
          }
        }
        &__main-item{
          padding: 16px; 
          &__upper{
            margin: 0;
            .item-name{
              line-height: 14px;
            }
            .form{
              margin-top: 16px;
              width: 100%;
              .form_area{
                width: inherit;
                &__input{
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  box-sizing: border-box;
                  font-family: inherit;
                  font-size: inherit;
                  height: 48px;
                  margin: 0;
                  outline: none;
                  padding: 0 16px;
                  width: inherit;
                }
              }
            }
          }
          &__bottom{
            .item-discription{
              margin-top: 32px;
            }
            .form{
              margin-top: 16px;
              &__input{
                border: 1px solid #ccc;
                border-radius: 4px;
                outline: none;
                padding: 13px 16px;
                vertical-align: middle;
                width: 100%;
                height: 137px;
              }
            }
          }
        }
        &__detail{
          padding: 16px;
          border-top: 1px solid #eee;
          &__detail-top{ 
            color: rgb(136, 136, 136);
            font-weight: 600;
            line-height: 1.4em;
            margin-bottom: 24px;
          }  
          &__category_id{
            &__selectarea{
              margin-top: 16px;
              #select_area{
                border: 1px solid #ccc;
                height: 48px;
                outline: none;
                width: 100%;
              }
            }
          }
          &__bland_id{
            margin-top: 32px;
            .marker_gray {
              background: linear-gradient(transparent 0%, gray 0%);
              color: white;
              font-size:12px;
              border-radius: 2px;
              line-height: 1.4em;
            }
            .form{
              margin-top: 16px;
              width: 100%;
              .form_area{
                width: inherit;
                &__input{
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  height: 48px;
                  outline: none;
                  padding: 0 16px;
                  width: inherit;
                }
              }
            }
          }
          &__condition{
            margin-top: 32px;
          }
          &__selectarea{
            margin-top: 16px;
            #select_area{
              border: 1px solid #ccc;
              height: 48px;
              outline: none;
              width: 100%;
            }
          }          
        }
        &__delivary{
          padding: 16px;
          border-top: 1px solid #eee;
          &__delivary-top{
            color: rgb(136, 136, 136);
            font-weight: 600;
            line-height: 1.4em;
            margin-bottom: 24px;
          }
          &__selectarea{
            margin-top: 16px;
            #select_area{
              border: 1px solid #ccc;
              height: 48px;
              outline: none;
              width: 100%;
            }
          } 
          &__delivary-area{
            margin-top: 32px;
            #select_area{
              margin-top: 16px;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-sizing: border-box;
              color: #222;
              font-size: 16px;
              height: 48px;
              line-height: 1;
              margin: 0;
              outline: none;
              padding: 0 56px 0 16px;
              width: 100%;
            }
          }   
          &__preparation_day{
            margin-top: 32px;
            &__selectarea{
              margin-top: 16px;
              #select_area{
                margin-top: 16px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                color: #222;
                font-size: 16px;
                height: 48px;
                line-height: 1;
                margin: 0;
                outline: none;
                padding: 0 56px 0 16px;
                width: 100%;
              }
            }
          }
        }
        &__lower{
          padding: 16px 16px 48px;
          border-top: 1px solid #eee;
          &__price-top{   
            margin-bottom: 24px;
            color: rgb(136, 136, 136);
            font-weight: 600;
            line-height: 1.4em;
          }       
          &__price-main{
            margin-bottom: 48px;
            &__form{
              padding: 4px 0px;
              align-items: center;
              box-sizing: content-box;
              display: flex;
              justify-content: space-between;
              width: 100%;        
              &__price-text{
                display: flex;
                justify-content: space-between;
                width: 100%;
                .text{
                  margin-right: auto;
                }
                .yen{
                  margin-right: 8px;
                }
              }
              &__input-form{
                width: 100%;
                max-width: 153px;     
                .form_area{
                  width: inherit;
                  &__input{
                    text-align: right;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    height: 48px;
                    outline: none;
                    padding: 0 16px;
                    width: 100%;
                  }
                }
              }
            }
          }       
        &__btn{
          margin: 0px auto 24px;
          margin-bottom: 32px;
          width: 360px;
          font-size: 17px;
          font-weight: bold;
          min-height: 48px;
          text-align: center;
          &__put-btn{
            background-color: #ea352d;
            color: #fff;
            margin-bottom: 24px;
            padding: 14px 24px;
            border: 1px solid transparent;
            border-radius: 4px;
          }
          &__return-btn{
            background-color: #ccc;
            border-color: transparent;
            color: #222;
            padding: 14px 24px;
            border-radius: 4px;
          }
        }
        &__attention{
          font-size: 12px;
          line-height: 1.4em;
        }
      }
     }
  }
  .form_footer{
    text-align: center;
    padding: 40px 0px 11px;
    &__link{
      font-size: 12px;
      margin: -16px 0px 40px -16px;
    }
    &__logo{ 
      .logo{
        height: 40px;
        width: 140px;
        margin-bottom: 8px;
      }
    }
    &__copy{
      font-size: 12px;
    }
  }
}