*{
    box-sizing: border-box;
}
body{
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

$main_color: #3CCACC;

@import "./reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./font-awesome";
@import "./header";
@import "./mixin";
@import "./header";
@import "form_header";
@import "form_footer";
@import "items";
@import "./app_banner";
@import "./footer";
@import "./exhibit_btn";
@import "form/form_common";
@import "form/user_form";
@import "items/index";
@import "items/show";
@import "mypage/mypage";
@import "share/category_hover";
@import "categories/index";
@import "categories/_sidebar";
@import "categories/category_index_main";
@import "categories/show";
@import "./pagenate";
@import "items/new";
