*{
    box-sizing: border-box;
}
body{
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.main
{
    position: relative;
}

.main__error_message
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: red;
}

.display_none
{
    display: none;
}

$form_header_height: 128px;
$form_footer_height: 220px;
$main_color: #3CCACC;

@import "./reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./mixin";
@import "./header";
@import "form_header";
@import "form_footer";
@import "items";
@import "./app_banner";
@import "./footer";
@import "./exhibit_btn";
@import "form/form_common";
@import "form/user_form";
@import "orders/new";
@import "orders/create";
@import "items/index";
@import "items/show";
@import "mypage/mypage";
@import "items/new";
@import "items/comment";
@import "mypage/profile_photo";
@import "share/category_hover";
@import "categories/index";
@import "categories/_sidebar";
@import "categories/category_index_main";
@import "categories/show";
@import "./pagenate";

