.main__showmain__detail__bland_id
  .main__showmain__detail__bland_id__title
    ブランド
    %span.marker_gray  任意
  .main__showmain__detail__bland_id__input-form
    .form_area
      = form.text_field :brand_name, class: "form_area__input", placeholder: '例）シャネル'