.main__showmain__detail__category_id
  .form_field
    = form.label :category_id, "カテゴリー", class: "form_field__label form_field__label--essential"
.main__showmain__detail__categoryarea
  = select_tag 'category_id', options_from_collection_for_select(@category.root, :id, :name, ), id: "category_area"