= render 'share/header'

.category_show_body
  .category_show_body__children_links
  .category_show_body__main
  .category_show_body__main__title
  .category_show_body__main__items_list
  .category_show_body__main__pagenation
  .category_show_body__main__category_explanation
  
= render 'share/app_banner'
= render 'share/footer'
= render 'share/exhibit_btn'