.main__showmain__main-image
    .form_field
        = form.label :image, "出品画像", class: "form_field__label form_field__label--essential"
    .main__showmain__main-image__main-text
        最大5枚までアップロードできます
    .main__showmain__main-image__main-form
        .image-box-1#image_area_for_js
            - i = 0
            = form.fields_for :images do |image_form|
                = render partial: "images/image_preview", locals: { image_form: image_form, i: i}
                - i+=1
