= form.fields_for :images do |image_form|
    .input-area
        = image_form.file_field :photo, style: "display:none", class:"js-file"
        - if image_form.object.photo.file.nil?
            = image_form.label :photo, class: "main__showmain__main-image__main-form__upload" do
                %i.fas.fa-camera
        - else
            .item-image__content
                .item-image__content--icon
                    = image_tag image_form.object.photo&.url, {width: "114", height: "80"}
                .item-image__operetion
                    .item-image__operetion--delete
                        削除