.credit_new{
  background-color: $content_area_form_backcolor;
  min-height: calc(100vh - #{$header_height} - #{$footer_height});
  margin: auto;
  display: flex;
  align-items: center;
  &__body{
    &__title{
      text-align: center;
      & h2{
        font-size: 137.5%;
        font-weight: bold;
        height: 33px;
        line-height: 33px;
        margin: 0 auto;
        padding: 32px;
        border-bottom: 1px solid $content_area_form_backcolor;
        width: 500px;
      }
    }
    &__credit-card{
      margin: 40px auto;
      &__inner{
        width: 500px !important;
        margin: auto;
        .credit_card_form{
          line-height: 2;
          .credit_label{
            width: 300px;
            display: inline-block;
            & span{
            }
          }
          .credit_input-number{}
          .cards-expire{
            display: flex;
            &__wrap{
              .credit_input_expire{}
              .expire_text{}
            }
            .credit_input-number{}
          }
          .cvc{
            &__main{
              display: flex;
              align-items: center;
              .cvc_input{
                height: 22px;
              }
            }
            &__sub{
              font-size: 12px;
              margin-top: -8px;
            }
          }
          .content-bottom{
            margin-bottom: 30px;
            &--add-btn{
              
            }
          }
        }
      }
    }
  }
}