.credit_show{
  background-color: $content_area_form_backcolor;
  min-height: calc(100vh - #{$header_height} - #{$footer_height});
  margin: auto;
  display: flex;
  align-items: center;
  &__body{
    width: 700px;
    background-color: #fff;
    margin: 40px auto;
    &__title{
      text-align: center;
      & h2{
        font-size: 137.5%;
        font-weight: bold;
        height: 33px;
        line-height: 33px;
        margin: 0 auto;
        padding: 32px;
        border-bottom: 1px solid $content_area_form_backcolor;
        width: 500px;
      }
    }
    &__main{
      margin: 30px auto;
      line-height: 2;
      width: 280px;
      .credit_detail_info{
        display: flex;
        font-size: 16px;
        justify-content: space-between;
        &--title{
          font-weight: bold;
          width: 30%;
          margin-right: 30px;
        }
        &--value{
        }
      }
    }
    &__delete{
      align-items: center;
      margin: 30px auto 10px;
      &__form{
        width: 300px;
        margin: auto;
        & button{
          height: $form_button_height;
          width: 100%;
          line-height: $form_button_height;
          text-align: center;
          margin-top: $form_margin_top_height;
          padding: 0;
          font-size: 16px;
          color: white;
          background-color: $main_color;
          border: none;

        }
      }
    }
    &__page_link{
      align-items: center;
      margin: 10px auto 40px;
      width: 300px;
      & a{
        height: $form_button_height;
        width: 100%;
        line-height: $form_button_height;
        text-align: center;
        margin-top: $form_margin_top_height;
        padding: 0;
        font-size: 16px;
        color: white;
        background-color: $main_color;
        border: none;
        display: inline-block;
      }
    }
  }
}